<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
    <link rel="stylesheet" href="/css/genereales.css">
</head>
<body>
    <%-include('./partials/headerActors.ejs') %>
    <div class="contenedor-body">
    <h1> Listado de actores segun su busqueda </h1>
    <ul>
        <% buscado.forEach(actor => { %>
            <li>
                <a href="/actors/details/<%= actor.id %>"><%= actor.firstName %>  <%=actor.lastName  %> </a>
                         Rating: <%= actor.rating %> 
                
            </li> 
        <% }) %>
    </ul>
</div>
</body>
</html>